### do not use dynamic library for C code
## Refer to all C/Fortran routines by their name prefixed by CF_
useDynLib(randtoolbox, .registration = TRUE, .fixes = "CF_")

### Import of rngWELL package for R code
importFrom(rngWELL, doinitMT2002, doputRngWELL, dogetRngWELL, setSeed4WELL, WELL2test)

### Other imports
importFrom("graphics", hist)
importFrom("stats", dpois, pchisq, qnorm, runif)
importFrom("utils", packageDescription, head)

### Exports
export(torus, runif.halton, halton, runif.sobol, sobol)
export(sobol.directions, int2bit, bit2int, bit2unitreal, sobol.basic, sobol.R)

export(setSeed, congruRand, SFMT, WELL, knuthTAOCP)

export(set.generator, put.description, get.description)

export(rngWELLScriptR, getWELLState)

export(gap.test, freq.test, serial.test, poker.test, order.test, coll.test, coll.test.sparse)

export(stirling, permut, get.primes)

### Debugging
# export(version.randtoolbox)


