### Exports
export(torus, runif.halton, halton, runif.sobol, sobol)

export(setSeed, congruRand, SFMT, WELL, knuthTAOCP)

#export(trueRNG)

export(set.generator, put.description, get.description)

export(gap.test, freq.test, serial.test, poker.test, order.test, coll.test)

export(stirling, permut, get.primes)

### Debugging
# export(version.randtoolbox)


### use dynamic library for C code
useDynLib(randtoolbox, .registration = TRUE)


### Import of rngWELL package for C code
import(rngWELL)
